.about{
    padding: 100px 170px;
    justify-content: center;
    height: 90%;
}

.about_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 60%;
    position: relative;
}

/* ABOUT LEFT */
.about_left{
    background: #11aff8;
    border-radius: 20px;
    height: 100%;
    max-height: 80%;
    color: #fff;
}
.about_left_down{
    margin: 50px 0px 0px 30px;
}
.about_left_down h2{
    margin-top: 120px;
}
.about_left_down p{
    width: 80%;
}


/* ABOUT MIDDLLE */
.about_middle{
    border-radius: 20px;
    height: 100%;
    max-height: 80%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_middle_top{
    height: 50%;
    max-height: 100%;
    background: #11aff8;
    border-radius: 20px;
    overflow: hidden;
}
.about_middle .about_middle_top img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.about_middle_bottom{
    height: 50%;
    max-height: 100%;
    margin-left: 20px;
    width: 80%;
}
.about_middle_bottom h1{
    margin-top: 10px;
    color: #11aff8;
}
.about_middle_bottom h2{
    margin-top: 10px;
    color: #ffdb30;
}

/* ABOUT RIGHT */
.about_right{
    border-radius: 20px;
    height: 100%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.about_right_top{
    height: 50%;
    max-height: 100%;
    background: #ffdb30;
    border-radius: 20px;
    overflow: hidden;
}
.about_right_bottom{
    height: 50%;
    max-height: 100%;
    background: #000;
    border-radius: 20px;
    overflow: hidden; 
}
.about_right_bottom img{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}
.about_right_top h1,
.about_right_top h2{
    margin: 20px 0px 0px 20px;
    width: 90%;
    color: #fff;
}
.about_right_top p{
    margin: 0px 0px 0px 20px;
    width: 90%;
    color: #fff;
}