.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    transition: background 0.3s ease;
}
.navbar.scrolled {
  position: fixed;
  background: #ffdb32;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.navbar_container{
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 170px;
    color: #fff;
}
.navbar_logo h3 span {
    color: #11aff8;
}
.navbar_link ul{
    display: flex;
    gap: 30px;
    font-size: 17px;
}
.navbar_btn{
    display: flex;
    top: 0;
    left: 0;
}
.navbar_btn{
    border: 2px solid #fff;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    background: none;
    padding: 14px 45px;
    transition: 0.4s;
}
.navbar_btn:hover{
    background: #ffdb32;
    border: none;
    transition: 0.4s;
}